{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}



    <h1>Sortir avec Eni</h1>

    <h2 class="h2Accueil">Filtres</h2>

    <div class="pageNavigation">
        <div class="filtre">
            <div class="card">
                <div class="card-body">
                    {{ form_start(filtreForm,{'attr': {'class': 'filtreForm form-floating'}}) }}
                    <div class="col-md-8" id="filtreGauche">
                        {{ form_row(filtreForm.site) }}
                        {{ form_row(filtreForm.nom) }}
                        <div class="d-flex" id="datesFiltre">
                            <div class="col-10 d-flex justify-content-between">
                            <div class="col-md-5">
                                <label for="{{ field_label(filtreForm.dateDebut) }}">Date début<input type="date"
                                    id="{{ field_name(filtreForm.dateDebut) }}"
                                    name="{{ field_name(filtreForm.dateDebut) }}"
                                    value="{{ field_value(filtreForm.dateDebut) }}"
                                    class="form-control"
                                    ></label>
                            </div>
                            <div class="col-md-5">
                                <label for="{{ field_label(filtreForm.dateFin) }}">Date Fin<input type="date"
                                    id="{{ field_name(filtreForm.dateFin) }}"
                                    name="{{ field_name(filtreForm.dateFin) }}"
                                    value="{{ field_value(filtreForm.dateFin) }}"
                                    class="form-control"
                                    ></label>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-column justify-content-around" id="filtreDroit">
                        {{ form_row(filtreForm.sortieQueJOrganise) }}
                        {{ form_row(filtreForm.sortieOuJeParcitipe) }}
                        {{ form_row(filtreForm.sortieOuJeNeParticipePas) }}
                        {{ form_row(filtreForm.sortiePassee) }}
                        <div class="d-flex justify-content-center ">
                            <button type="submit" class=" btn btn-primary" >Filtrer</button>
                        </div>
                    </div>
                    {{ form_end(filtreForm) }}
                </div>
            </div>
        </div>
        <div class="creerSortie">
            <a class=" btn btn-primary align-self-center" href="{{ path('app_sortie_new') }}">Créer une sortie</a>
        </div>
    </div>



    <h2 class="h2Accueil">Liste des sorties</h2>


    <div class="listSortie">

        {% for sortie in sorties %}
{#
            Savoir si l'utilisateur connecté est participant ou non, organisateur ou non
#}
            {% set boutonCardSortie = "S'inscrire"%}
            {% for participant in sortie.participants %}
                {% if app.user.id == participant.id %}
                    {% set boutonCardSortie = "Se desister" %}
                {% endif %}
            {% endfor %}
            {% if sortie.organisateur == app.user %}
                {% set boutonCardSortie = "Annuler sortie" %}
            {% endif %}
            {% set nbParticipant = sortie.participants|length %}
            {% if sortie.nbInscriptionMax == nbParticipant
                and boutonCardSortie == "S'inscrire" %}
                {% set boutonCardSortie = "Complet" %}
            {% endif %}

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ sortie.nom }}</h4>
                    <div class="date">
                        <h6 class="card-subtitle mb-2 text-muted">{{ sortie.dateHeureDebut |date('d/m/y H:i') }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"> Durée: {{ sortie.duree }} min</h6>
                    </div>
                    <div class="date">
                        <h6 class="card-subtitle mb-2 text-muted"> Places disponibles
                            : {{ sortie.nbInscriptionMax }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"> Status
                            : {{ sortie.etat.libelle }}</h6>
                    </div>
                    <div class="date">
                        <h6>Organisateur : <a href="{{ path('app_user_show',{'id':sortie.organisateur.id}) }}" class="card-link">{{ sortie.organisateur.getFullName }}</a></h6>
                    </div>
                    <div class="date d-flex justify-content-between">
                        <a class="mt-3 " href="{{ path('app_sortie_show', {'id':sortie.getId()}) }}">Plus d'infos</a>
                        {% if boutonCardSortie == "S'inscrire" %}
                            <a class=" btn btn-primary" href="{{ path('app_sortie_inscription', {'id': sortie.id}) }}" class="card-link" id="inscription">{{ boutonCardSortie }}</a>
                        {% elseif boutonCardSortie == "Se desister" %}
                            <a class=" btn btn-primary" href="{{ path('app_sortie_desistement', {'id': sortie.id}) }}" class="card-link"  id="seDesister" >{{ boutonCardSortie }}</a>
                        {% elseif boutonCardSortie == "Annuler sortie" %}
                            <a class=" btn btn-primary" href="{{ path('app_sortie_delete', {'id': sortie.id}) }}" class="card-link" id="annulerSortie">{{ boutonCardSortie }}</a>
                        {% elseif boutonCardSortie == "Complet" %}
                            <button type="button" class=" btn btn-primary" href="" class="card-link"  id="completSortie">{{ boutonCardSortie }}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
