{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h1>Sortir avec Eni</h1>

    <h2>Filtres</h2>

    <div>
        <form action=""></form>
        <div>
            <div>
                <label for="">Site <select name="" id="">
                        <option>Tous</option>
                        {% for site in sites %}
                            <option value="{{ site.nom }}">{{ site.nom }}</option>
                        {% endfor %}

                    </select></label><br>
            </div>
            <div>
                <label for="">Rechercher par nom<input type="text"></label>
            </div>
            <div>
                <label for="">début<input type="date"></label>
                <label for="">Fin<input type="date"></label>
            </div>
        </div>
        <div>
            <div>
                <label for=""><input type="checkbox">Sortie que j'organise</label>
            </div>
            <div>
                <label for=""><input type="checkbox">Sortie où je suis inscrit/e</label>
            </div>
            <div>
                <label for=""><input type="checkbox">Sortie où je ne suis pas inscrit/e</label>
            </div>
            <div>
                <label for=""><input type="checkbox">Sortie passées</label>
            </div>
            <div>
                <button type="submit">Rechercher</button>
            </div>
        </div>
        <div>
            <label for="">Une sortie à proposer ?</label>
            <button type="submit">Créer une sortie</button>
        </div>
    </div>

    <h2>Liste des sorties</h2>

    <div class="listSortie">
        {% for sortie in sorties %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ sortie.nom }}</h4>
                    <div class="date">
                        <h6 class="card-subtitle mb-2 text-muted">{{ sortie.dateHeureDebut |date('d/m/y H:i') }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"> Durée: {{ sortie.duree }} min</h6>
                    </div>
                    <div class="date">
                        <h6 class="card-subtitle mb-2 text-muted"> Places disponibles
                            : {{ sortie.nbInscriptionMax }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"> Status
                            : {{ sortie.etat.libelle}}</h6>
                    </div>
                    <div class="date">

                    <h6>Organisateur : <a href="#" class="card-link">{{ sortie.organisateur.nom }}</a></h6>
                    </div>
                    <div class="date d-flex justify-content-between">
                    <a class="mt-3 " href="{{ path('app_sortie_show', {'id':sortie.getId()}) }}"  >Plus d'infos</a>
                    <a class=" btn btn-primary" href="#" class="card-link">S'inscrire</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
