{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h1>Sortir avec Eni</h1>

    <h2>Filtres</h2>

    {{ form_start(filtreForm) }}
    {{ form_widget(filtreForm) }}
    <button type="submit">Filtrer</button>
    {{ form_end(filtreForm) }}


    <h2>Liste des sorties</h2>
    <p><a class="btn btn-primary" href="{{ path('app_sortie_new') }}">Créer une nouvelle sortie</a></p>

    <div class="listSortie">
        {% for sortie in sorties %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ sortie.nom }}</h4>
                    <div class="date">
                        <h6 class="card-subtitle mb-2 text-muted">{{ sortie.dateHeureDebut |date('d/m/y H:i') }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"> Durée: {{ sortie.duree }} min</h6>
                    </div>
                    <div class="date">
                        <h6 class="card-subtitle mb-2 text-muted"> Places disponibles
                            : {{ sortie.nbInscriptionMax }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"> Status
                            : {{ sortie.etat.libelle }}</h6>
                    </div>
                    <div class="date">


                        <h6>Organisateur : <a href="#" class="card-link">{{ sortie.organisateur.nom }}</a></h6>
                    </div>
                    <div class="date d-flex justify-content-between">
                        <a class="mt-3 " href="{{ path('app_sortie_show', {'id':sortie.getId()}) }}">Plus d'infos</a>
                        <a class=" btn btn-primary" href="#" class="card-link">S'inscrire</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
