{% extends 'base.html.twig' %}

{% block title %}Liste d'utilisateur{% endblock %}

{% block body %}

<h1 class="titre"><strong>Upload fichier d'utilisateur</strong></h1>

   {#
   <h4 class="text-danger">
        {% for flashMessage in app.flashes('erreurUserExistant') %}

            {{ flashMessage }}

        {% endfor %}
    </h4>
   #}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="mt-4">

        <button class="btn btn-primary mr-3">{{ button_label|default('Importer') }}</button>

        {{ form_end(form) }}

        <div class="mt-4">
            {% if emailEnDouble!=null %}
                <p>Attention, les utilisateurs avec ces adresses mails sont déjà présents dans la base de donnée</p>
                <p>S'ils sont désactivés, possibilité de les rendre actifs</p>
                {% for email in emailEnDouble %}
                    <li>{{ email }}</li>
                {% endfor %}

            {% endif %}
        </div>
    </div>

{% endblock %}
