{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <h1 class="titre"><strong>Profil</strong></h1>
        <div class="profil">
            <div class="flex" >
                <div class="col-md-6 mx-auto">
                    <h5>Pseudo : </h5>
                    <p>{{ user.pseudo }}</p>
                </div>
                <div class="col-md-6 mx-auto">
                    <p>image</p>
                </div>
            </div>
            <div class="flex" >
                <div class="col-md-6 mx-auto">
                    <h5>Prénom : </h5>
                    <p>{{ user.prenom }}</p>
                </div>
                <div class="col-md-6 mx-auto">
                    <h5>Nom : </h5>
                    <p>{{ user.nom }}</p>
                </div>
            </div>
            <div class="flex" >
                <div class="col-md-6 mx-auto">
                    <h5>Email : </h5>
                    <p>{{ user.email }}</p>
                </div>
                <div class="col-md-6 mx-auto">
                    <h5>Téléphone : </h5>
                    <p>{{ user.telephone }}</p>
                </div>
            </div>
            <div>
                <h5>Site de rattachement : </h5>
                <p>{{ user.site.nom }}</p>
            </div>


        </div>
    <div class="mt-4">
        <a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
    </div>



{% endblock %}
